<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Attempt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SLoginServlet</display-name>
    <servlet-name>SLoginServlet</servlet-name>
    <servlet-class>SLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLoginServlet</servlet-name>
    <url-pattern>/SLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SRegisterServlet</display-name>
    <servlet-name>SRegisterServlet</servlet-name>
    <servlet-class>SRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRegisterServlet</servlet-name>
    <url-pattern>/SRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ALoginServlet</display-name>
    <servlet-name>ALoginServlet</servlet-name>
    <servlet-class>ALoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALoginServlet</servlet-name>
    <url-pattern>/ALoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ARegisterServlet</display-name>
    <servlet-name>ARegisterServlet</servlet-name>
    <servlet-class>ARegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ARegisterServlet</servlet-name>
    <url-pattern>/ARegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Option1Servlet</display-name>
    <servlet-name>Option1Servlet</servlet-name>
    <servlet-class>Option1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Option1Servlet</servlet-name>
    <url-pattern>/Option1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Option2Servlet</display-name>
    <servlet-name>Option2Servlet</servlet-name>
    <servlet-class>Option2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Option2Servlet</servlet-name>
    <url-pattern>/Option2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ASRegisterServlet</display-name>
    <servlet-name>ASRegisterServlet</servlet-name>
    <servlet-class>ASRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ASRegisterServlet</servlet-name>
    <url-pattern>/ASRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchServlet</display-name>
    <servlet-name>FetchServlet</servlet-name>
    <servlet-class>FetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServlet</servlet-name>
    <url-pattern>/FetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fineServlet</display-name>
    <servlet-name>fineServlet</servlet-name>
    <servlet-class>fineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fineServlet</servlet-name>
    <url-pattern>/fineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FineServlet</display-name>
    <servlet-name>FineServlet</servlet-name>
    <servlet-class>FineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FineServlet</servlet-name>
    <url-pattern>/FineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookServlet</display-name>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBookServlet</url-pattern>
  </servlet-mapping>
</web-app>